@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
:root{
    --percentage: 50;
    --percentageCalc:calc(1.8deg * var(--percentage))
}











  
.page{
    background: var(--white);
    display: block;
    margin: 0auto;
    position:relative; 
    box-shadow:var(--pageShadow);
    width: 21.0cm;
    height: 29.673cm;
    overflow: hidden;
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
body{
    font-family: 'Open Sans Hebrew';
    
   

}
.flex-container-top{
    display: flex;
    width: 100%;
}
.GreenTop{
  
    width: 50px;
    height:180px;
    flex-grow: 1;
      
}

.star{
   position:absolute;  
   left: 15px;
   top: 20px; 
   height:70px;
   width: 80px;
  
}

.text-top-middle{
    position:absolute;
    left: 200px;
    top: 45px;   
    font-size:35px;
    color: white;

  
}
.soldier-name{
    display: flex;
    position: relative;
    justify-content: end;
    right: 44px;
}
.soldier-location{
    display: flex;
    position: relative;
    justify-content: end;
    flex-direction: row-reverse;
    font-size: 19px;
    right: 30px;
    padding: 20px;
  
}

.best{
    display: flex;
}
.flex-container-left-half{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
}
.flex-container-right-half{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
}
.text{
    
    display: flex;
    justify-content: center;
    align-items: center;
     width: 300px;
     height: 41px;
     background: #3B6124;
     color: white;
     margin: 20px;
  
     font-size:20px;


}

.mini-text{
    display: flex;
    justify-content: center;
    margin: 1.5vh;
    font-size:20px;
}
.vi{
    display: flex;
    margin: 0px;
    height: 25px;
    width: 29px;
    
    
}
.flex-container-bottom{
    display: flex;
    width: 100%;
}
.GreenBottom{
    
    position:absolute;
    left: 0px;
    bottom: 0px;   
    width: 100%;
   
}
.text-bottom-middle{
    position:absolute;
    left: 380px;
    bottom: 20px;   
    font-size:55px;
    color: white;
}
.text-bottom-right{
    position:absolute;
    left: 650px;
    bottom: 60px;   
    font-size:20px;
    color: white;
}


